{% extends 'bootstrap/base.html' %}

{% block title %}
    Cafe&Wifi API
{% endblock %}

{% block content %}

<div style="text-align:center">
     <h1>Welcome to the Cafe & Wifi API</h1>
     <a href="https://documenter.getpostman.com/view/11695119/TzK2bZpo" style="text-align:center">Documentation</a>
    <br>
    <br>
    <p> Welcome ! This API will return data in a JSON format to the specified user requests in the documentation</p>
    <p> Have fun with discovering or adding your favorite cafes in London !</p>

</div>


{% endblock %}

